body{
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#box{
	background-color:grey;
	height:22rem;
	width:50rem;
	visibility: hidden;
}
#box>input{
	padding:1rem;
}
#box.show{
	visibility: visible;
}
.material-symbols-outlined{
	float:right;
    padding: 10px;
}
.material-symbols-outlined:hover{
    background-color: red;
    cursor: pointer;
}
#submitvalidation{
    margin-top: 0.9rem;
}
#box>form>p{
	color:red;
}
.form-group input{
    margin-top: 0.5rem;
}
.form-group1 input{
    margin-top: 0.5rem;
}
.form-group1{
    margin-top: 1rem;
}